/* You can add global styles to this file, and also import other style files */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
a {
    text-decoration: none;
    color: #1976d2;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: .5em;
    padding: .3em 0;
}
